.kontakt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 96px;
}

.form-slide {
    background: #3e3c3b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    width: calc(100% - 78px);
    max-width: 500px;
    animation: fadeIn 0.5s ease-in-out;
}

.form-slide h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 24px;
    color: white;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
    width: 100%;
}

.options label {
    display: flex;
    align-items: center;
    text-align: left;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: calc(100% - 24px);
}

.options input {
    margin-right: 12px; /* space between the radio button and label text */
    width: auto; /* Prevent radio buttons from stretching */
}

.options label:hover {
    background: rgba(255, 255, 255, 0.2);
}

input {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #959595;
    background: rgba(255, 255, 255, 0.2); /* Less dark background */
}

.kontakt-button {
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #ee7752, #feb47b, #d75d37, #e08c4c);
    background-size: 300% 300%;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    animation: Gradient 6s ease infinite;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.kontakt-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.kontakt-button:active {
    transform: translateY(1px);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
