.my-services-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 16px;
    flex-wrap: wrap;
    margin-top: -300px;
}

@media screen and (max-width: 1572px) {
    .my-services-container {
        gap: 20px;
    }
}

@media screen and (max-width: 1452px) {
    .my-services-container {
        gap: 20px;
        padding: 0 200px;
    }
}

@media screen and (max-width: 1100px) {
    .my-services-container {
        gap: 20px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .my-services-container {
        gap: 20px;
    }
}
