:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --header-height: 36px;

    --background-color: #242424;
    --background-color-80: #000000cc;
    --background-color-50: #00000080;
    --text-color: #ffffff;
    --primary-color: #f0d6bd;
    --primary-hover-color: #f0d6bd;
    --variant-containedBg: #f0d6bd;
}

[data-theme='dark'] {
    --background-color: #242424;
    --background-color-80: #000000cc;
    --background-color-50: #00000080;
    --text-color: #ffffff;
    --primary-color: #f0d6bd;
    --primary-hover-color: #f0d6bd;
    --variant-containedBg: #f0d6bd;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-hover-color);
}

body {
    background-color: var(--background-color);
    margin: 0px;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.scroll-link {
    margin-bottom: 100px;
}

.scroll-link-less {
    margin-bottom: 240px;
}

.logo {
    z-index: 10;
}

.page-container {
    margin-top: var(--header-height);
    overflow-y: auto;
}

.homepage-container {
    position: relative;
}

.homepage-video {
    width: 100%;
    height: calc(100vh - var(--header-height));
    object-fit: cover;
    opacity: 0.4;
}

.homepage-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.homepage-half-video {
    width: 40vw;
    height: 40vw;
    border-radius: 20px;
    object-fit: cover;
}

.homepage-video-text {
    position: absolute;
    width: 80vw;
    top: 60vh;
    left: 45vw;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
}

.homepage-half-text {
    width: 45%;
    padding-left: 64px;
    margin-bottom: 120px;
}

.homepage-text-big-outline {
    font-size: 6vw;
    font-style: italic;
    font-weight: 800;
}

.homepage-text-big {
    font-size: 50px;
    font-style: italic;
    font-weight: 800;
}

.homepage-text-medium {
    font-size: 30px;
    font-weight: 500;
}

.homepage-air {
    height: 120px;
}

.features-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-50);
    transition: opacity 0.3s;
    opacity: 1;
}
.features-text-container:hover {
    background-color: var(--background-color-80);
}
.features-text-container-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-80);
    transition: opacity 0.3s;
    opacity: 1;
}

.features-text {
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
    margin: 80px 0 10px 0;
    text-align: center;
}
.features-text-mobile {
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.features-text-small {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin: 0 48px;
    text-align: center;
    opacity: 0;
}

.features-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition:
        transform 0.3s,
        opacity 0.3s;
}

.features-image-container:hover .features-text-small {
    opacity: 1;
}

@media screen and (max-width: 1700px) {
    .scroll-link-less {
        margin-bottom: 360px;
    }
}

@media (max-width: 768px) {
    .scroll-link {
        margin-bottom: 50px;
    }

    .homepage-content {
        flex-direction: column;
    }
    .homepage-half-video {
        width: 90vw;
        height: 90vw;
    }
    .homepage-half-text {
        width: 80vw;
        margin-top: 20px;
    }

    .homepage-half-text {
        width: 80vw;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .homepage-text-big {
        font-size: 30px;
        font-style: italic;
        font-weight: 800;
    }
    .homepage-text-medium {
        font-size: 20px;
        font-weight: 500;
    }
    .homepage-video-text {
        top: 60vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .homepage-text-big-outline {
        width: 75vw;
        font-size: 60px;
    }
    .features-text-container:hover {
        background-color: var(--background-color-50);
    }
    .features-text-small {
        opacity: 1;
    }
}
@media (max-width: 488px) {
    .scroll-link {
        margin-bottom: 70px;
    }
    .scroll-link-less {
        margin-bottom: 370px;
    }
}

/* Gradient Animation */
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
